$colour-blue: #83af9b;
$colour-green: #c8c8a9;
$colour-brown: #774f38;
$colour-beige: #ece5ce;
$colour-yellow: #f9cdad;
$colour-pink: #fe4365;

/* https://colorhunt.co/palette/f5e8c7ecccb2deb6abac7088 */
$colour-a: #F5E8C7;
$colour-b: #ECCCB2;
$colour-c: #DEB6AB;
$colour-d: #AC7088;

/* https://colorhunt.co/palette/4c3a51774360b25068e7ab79 */
$colour-e: #4C3A51;
$colour-f: #774360;
$colour-g: #B25068;
$colour-h: #E7AB79;

/* $colour-primary: #9b6941;
$colour-secondary: #8f5527;
$colour-accent: #2c808e;
$colour-background: $colour-b; */

/* https://coolors.co/dc9fc3-fcc7b5-255484-66a8e0-328ecb */
/* https://coolors.co/2d2729-445154-372628-363638-362e2f */

/* instagram.com/plastic.pen */
/* https://coolors.co/513b51-5e2432-3c4b60-fcd8ce-dfb0a7 */
/* https://coolors.co/400226-520e24-5e2432-a25956-de8d82 */

$tyrian-purple: #520E24ff;
$new-york-pink: #DE8D82ff;
$unbleached-silk: #FCD8CEff;
$pastel-pink: #DFB0A7ff;
$shadow-blue: #7A95AEff;
$misty-rose: #FFDED8ff;
$charcoal: #3c4b60ff;
$pale-cerulean: #a5c3ddff;
$columbia-blue: #cfebffff;
$independence: #495160ff;

/* $colour-primary: $tyrian-purple;
$colour-secondary: $new-york-pink;
$colour-accent: $shadow-blue;
$colour-background: $misty-rose; */
//$background-gradient: linear-gradient(0deg, #DFB0A7ff, #7A95AEff);

/* https://www.instagram.com/p/CaC4U0kKizj/ */
$wheat: #F6DAB4ff;
$eerie-black: #131614ff;
$pine-tree: #1F2212ff;
$metallic-sunburst: #A59246ff;
$papaya-whip: #FAEED7ff;
$satin-sheen-gold: #CBA855ff;
$raw-umber: #72614Eff;
$army-green: #4F4A14ff;
$space-cadet: #1B1F33ff;
$antique-bronze: #6C601Fff;

/* $colour-primary: $tyrian-purple;
$colour-secondary: $new-york-pink;
$colour-accent: $shadow-blue;
$colour-background: $misty-rose; */

/* https://www.instagram.com/p/CTpZCElqn7a/ */
$melon: #F1B1A3ff;
$dark-purple: #281C3Cff;
$old-mauve: #492937ff;
$mountbatten-pink: #917983ff;
$dark-purple-2: #22132Dff;
$eggplant: #5E4251ff;
$english-violet: #46394Fff;
$light-salmon: #FBA884ff;
$tuscan-red: #794F54ff;
$heliotrope-gray: #AA989Fff;
$copper-rose: #906361;
$terra-cotta: #D47562ff;

/*  */


$colour-primary: $copper-rose;
$colour-primary-light: #c1918e;
$colour-primary-dark: #613837;
$colour-secondary: #26a69a;
$colour-secondary-light: #64d8cb;
$colour-secondary-dark: #016d63;
$colour-background: $wheat;
$colour-background-light: #fff5e6;
$colour-background-dark: #c19a81;