$colour-background: rgb(246, 218, 180);
$colour-background-dark: rgb(94, 66, 81);

$colour-primary: rgb(144, 99, 97);
$colour-primary-dark: rgb(203, 168, 85);
$colour-primary-light: rgb(193, 145, 142);

$colour-secondary: rgb(38, 166, 154);
$colour-secondary-dark: rgb(255, 171, 40);

$colour-line-horizontal: rgb(157, 193, 228);
$colour-line-horizontal-dark: rgb(182, 204, 220);

$colour-line-vertical: rgb(231, 146, 146);
$colour-line-vertical-dark: rgb(222, 141, 130);

$placeholder-light: rgba(144, 99, 97, 0.5);
$placeholder-dark: rgba(73, 41, 55, 0.5);

$colour-prompt-light: $colour-primary;
$colour-prompt-dark: rgb(73, 41, 55);

$colour-paper-light: rgb(242, 242, 242);
$colour-paper-dark: rgb(254, 236, 217);

$colour-shadow: rgb(193, 154, 129);
$colour-shadow-dark: rgb(73, 41, 55);

$colour-bubble-background: rgb(255, 245, 230);
$colour-bubble-background-dark: rgb(121, 79, 84);

$colour-highlight: rgba(250, 238, 215, 0.5);
$colour-highlight-dark: rgba(73, 41, 55, 0.5);