$color-blue: #83af9b;
$color-green: #c8c8a9;
$color-brown: #774f38;
$color-beige: #ece5ce;
$color-yellow: #f9cdad;
$color-pink: #fe4365;

/* https://colorhunt.co/palette/f5e8c7ecccb2deb6abac7088 */
$color-a: #F5E8C7;
$color-b: #ECCCB2;
$color-c: #DEB6AB;
$color-d: #AC7088;

/* https://colorhunt.co/palette/4c3a51774360b25068e7ab79 */
$color-e: #4C3A51;
$color-f: #774360;
$color-g: #B25068;
$color-h: #E7AB79;