@import "./base.css";
@import "./colours.scss";

#app {
    padding: 2rem;
}

a,
.green {
    text-decoration: none;
    color: hsl(43deg 100% 37%);
    transition: 0.4s;
}

@media (hover: hover) {
    a:hover {
        background-color: hsla(56, 100%, 37%, 0.2);
    }
}

body {
    height: 100vh;
    margin: 0;
    display: grid;
    place-items: center;
    font: 2vw system-ui;
    background-color: $color-yellow;
}

.rubber-duck {
    min-height: 100vh;
}