@import "./base.css";
@import "./colours.scss";

#app {
    padding: 2rem;
}

a,
.green {
    text-decoration: none;
    color: hsl(43deg 100% 37%);
    transition: 0.4s;
}

@media (hover: hover) {
    a:hover {
        background-color: hsla(56, 100%, 37%, 0.2);
    }
}

body {
    height: 100vh;
    margin: 0;
    display: grid;
    place-items: center;
    font: 2vw system-ui;
    background-color: $color-yellow;
}

.button-17 {
    align-items: center;
    appearance: none;
    background-color: $color-beige;
    border-radius: 24px;
    border-style: none;
    box-sizing: border-box;
    color: $color-brown;
    cursor: pointer;
    display: inline-flex;
    fill: currentcolor;
    font-family: "Baloo 2";
    font-size: 14px;
    font-weight: 600;
    height: 48px;
    justify-content: center;
    letter-spacing: .25px;
    line-height: normal;
    max-width: 100%;
    overflow: visible;
    padding: 2px 24px;
    position: relative;
    text-align: center;
    text-transform: none;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1), opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
    will-change: transform, opacity;
    z-index: 0;
    box-shadow: 10px 10px #83af9b;
}

.button-17:hover {
    box-shadow: 20px 20px #83af9b;
}

.rubber-duck {
    min-height: 100vh;
}